<h1>Articles Search</h1>
<%= form_tag :controller => 'request', :action => 'search', :method => 'get' do %>
      <%= text_field_tag :search, params[:search], :id => 'search_field' %>
      <%= submit_tag "Search", :name => nil %> 
      <%= link_to_function "Clear", "$('search_field').clear()" %>
  <% end %> 

<ul>
  <% @requests.each do |grant| %>
<li><%= link_to grant.destination, 
  :action => 'show', :id => grant.id  %></li>
<% end %>
</ul>