<!DOCTYPE html>
<html>
<head>
  <title></title>

</head>

<link rel="stylesheet" type="text/css" href="assets/button.css">
<link rel="stylesheet" href="assets/styles.css">

<style type="text/css">
 /*added Code */



/*end of Added code */
  .mini-submenu{
    display:none;  
    background-color: rgba(0, 0, 0, 0);  
    border: 1px solid rgba(0, 0, 0, 0.9);
    border-radius: 4px;
    padding: 9px;  
    /*position: relative;*/
    width: 42px;
  }

  .mini-submenu:hover{
    cursor: pointer;
  }

  .mini-submenu .icon-bar {
    border-radius: 1px;
    display: block;
    height: 2px;
    width: 22px;
    margin-top: 3px;
  }

  .mini-submenu .icon-bar {
    background-color: #000;
  }

  #slide-submenu{
    background: rgba(0, 0, 0, 0.45);
    display: none;
    display: inline-block;
    padding: 0 8px;
    border-radius: 4px;
    cursor: pointer;
  }
.panel.panel-default{
  	border-radius:60px;
}
#navlist{
	display: none;
}
#navlist:hover{
	display: block;
}


</style>
<body>

  	  	





  <div class="row">



	    <div class="col-md-3" style="padding-left:40px">
		    <div class="image-frame">
		        <div class="img-circular" style="background-image: url('<%= current_user.faceboook_profileimage+'&width=160&height=160'%>') ">
		        </div><!-- close div if profile image-->

		    </div><!-- close tdi of image frame -->
	    </div><!-- close div of col-dm-3 -->

	    <div class="col-md-8" style="padding-top:40px">
		    <div class= "panel panel-default"  id="b1">
			     <div class="panel-heading" style="background-color: #337AB7">
			      <h3 class="panel-title"   >Profile Info </h3>
			     </div><!-- div panel-heading -->
			     <div class="panel-body">
			       <h6><label style="font-size:20px">Name:  </label><%=  current_user.username%></h6>
			       <label style="font-size:20px">E-mail: </label>  <strong><%= current_user.email %></strong>
			     </div><!-- div panel-body -->
		      
		    </div><!-- div  panel-default -->
		</div><!-- div col-md-3 -->
  </div><!-- div row -->


  
   
  <div class="row" style="padding-top:40px">

    <div class="col-sm-4 col-md-3 sidebar" style="padding-left:40px">
    <div id='cssmenu'>
		<ul  style="border-right:1px solid grey;border-top-right-radius:8px;border-bottom-right-radius:8px">
		   <li style="padding-left:25px;padding:15px;background-color: #337AB7;border-top-left-radius:8px;border-top-right-radius:8px;color:white;"><span>Menu</span></li>
		   <li><a href='#'><span>Home</span></a></li>
		   <li class='active has-sub'><a href='#'><span>MyCircles</span></a>
		      <ul>
		      		<% @circles.each do |c| %>
			 			<li class='has-sub'><%= link_to c.name, controller: "circles", action: "show", id: c.id %></li>
			 			
					<% end %>
		      </ul>
		   </li>
		   <li class='active has-sub'><a href='#'><span>Connect to circles</span></a>
		      <ul>
			      		<li>

			      		<% if(@user.circles.exists?(:name => "twitter")&&Circle.exists?(:name => "googlePlus")) %>
			      		<a href="#"><span>No more circles to connect</span></a>

			      		<% else %>
				      		<div class="row" style="width:300px;margin-left: auto;margin-right: auto;">

				      			<% unless(@user.circles.exists?(:name => "twitter")) %>
						      		
									  <div class="col-lg-4">
									    <div class="round-button" style="width:80px;float:left">
									        <div id="round-button-circle">
									          <a href="/linkedin_oauth_url" class="round-button">Twitter</a>
									        </div>
									    </div>
									  </div>
								<% end %>
								<% unless(@user.circles.exists?(:name => "googlePlus")) %>
									  <div class="col-lg-4">
									    <div class="round-button" style="width:80px;float:left;">
									        <div id="round-button-circle-2">
									          <a href="http://localhost:4567" class="round-button">Google+</a>
									        </div>
									    </div>
									  </div>


								<% end %>
							</div>
						<% end %>

					    </li>

		      </ul>
		   </li>
		   <li class='active has-sub'><a href='#'><span>Update circles</span></a>
		      <ul>
			      		<li>
			      		<div class="row" style="width:300px;margin-left: auto;margin-right: auto;">
				      		<div class="col-lg-4">
								<div class="round-button" style="width:80px;float:left">
								    <div id="round-button-circle-1">
										    <a href="#" class="round-button">facebook</a>
									</div>
								</div>
							</div>
							<% if(@user.circles.exists?(:name => "twitter")) %>
									  <div class="col-lg-4">
									    <div class="round-button" style="width:80px;float:left">
									        <div id="round-button-circle">
									          <a href="/#" class="round-button">Twitter</a>
									        </div>
									    </div>
									  </div>
							<% end %>
							<% if(@user.circles.exists?(:name => "googlePlus")) %>
									  <div class="col-lg-4">
									    <div class="round-button" style="width:80px;float:left;">
									        <div id="round-button-circle-2">
									          <a href="#" class="round-button">Google+</a>
									        </div>
									    </div>
									  </div>
							<% end %>
						</div>
					    </li>
		      </ul>
		   </li>
		   


		   <li><%= link_to "New Request", controller: "requests", action: "new" %></li>
		   <li><%= link_to "view all my places", controller: "places", action: "create" %></li>
		   <li class='last' style="border-bottom:none;"><a href="#" id="invite_fb_friends" onClick="inviteFriends();"><span>Invite your facebook friends
</span></a></li>
		</ul>
</div>     
  </div>


  <div class="col-md-8">
    <div class= "panel panel-default" style="border-top-left-radius: 4px">
     <div class="panel-heading">
      <h3 class="panel-title"> Search for a trip</h3>
     </div> <!--/#panel-heading -->
      <div class="panel-body">
       <%= form_tag :controller => 'profiles', :action => 'myAccount', :method => 'get' do %>
       			<h4> Trip destination </h4>
		      <%= text_field_tag :search, params[:search], :id => 'search_field' %>
		      <br>
		      <%= submit_tag "Search", :name => nil %>
		<% end %> 
       <hr>
       <ul>
		  <% @requests.each do |grant| %>
			<h6 style="font-style:normal;font-size:15px">	<li><%= link_to grant.destination, :controller =>'requests',
		  	:action => 'show', id: grant.id  %></li></h6>
		  <% end %>
		</ul><!--/#unsorted list -->
       
      </div><!--/#class panel-body-->
    </div><!--/#class panel-heading-->
  </div><!--/#class col-md-8-->

  <div class="col-md-8">
    <div class= "panel panel-default" style="border-top-left-radius: 4px">
     <div class="panel-heading">
      <h3 class="panel-title"> News Feed</h3>
     </div><!--/#class panel heading-->
      <div class="panel-body">
       <h6 style="font-style:normal;font-size:15px"> insha'allah hena hyb2a feh news feed </h6>
       <hr>
       <h6 style="font-style:normal;font-size:15px"> sorem ehh </h6>
      </div><!--/#class panel-body -->
    </div><!--/#class panel panel default-->
  </div><!--/#class col-md-->


</div> 

  <script src="http://connect.facebook.net/en_US/all.js"></script>
<script type="text/javascript">
function inviteFriends(){
	FB.init({
        appId: '716016431848330',
        status: true,
        cookie: false,
        // xfbml: true
        });
	FB.ui({
method: 'send',
message: '<%=current_user.name %> has invite you to a party for>',
link: 'http://raye7.com/'});

}
</script>
</body>

</html>
	   