<!DOCTYPE html>
<html>
<head>
  <title></title>

</head>

<link rel="stylesheet" type="text/css" href="assets/button.css">
<link rel="stylesheet" href="assets/styles.css">

<style type="text/css">
 /*added Code */



/*end of Added code */
  .mini-submenu{
    display:none;  
    background-color: rgba(0, 0, 0, 0);  
    border: 1px solid rgba(0, 0, 0, 0.9);
    border-radius: 4px;
    padding: 9px;  
    /*position: relative;*/
    width: 42px;
  }

  .mini-submenu:hover{
    cursor: pointer;
  }

  .mini-submenu .icon-bar {
    border-radius: 1px;
    display: block;
    height: 2px;
    width: 22px;
    margin-top: 3px;
  }

  .mini-submenu .icon-bar {
    background-color: #000;
  }

  #slide-submenu{
    background: rgba(0, 0, 0, 0.45);
    display: none;
    display: inline-block;
    padding: 0 8px;
    border-radius: 4px;
    cursor: pointer;
  }
.panel.panel-default{
  	border-radius:60px;
}
#navlist{
	display: none;
}
#navlist:hover{
	display: block;
}


</style>
<body>


  <div class="row"> <!-- row for the profile picture and the profile info -->
    <div class="col-md-3" style="padding-left:40px">
	    <div class="image-frame"> <!-- image frame tag -->
	        <div class="img-circular" style="background-image: url('<%= current_user.faceboook_profileimage+'&width=160&height=160'%>') "></div>
	    </div> <!-- end of image tag -->
    </div>
	<div class="col-md-8" style="padding-top:40px"> 
		<div class= "panel panel-default"  id="b1"> <!-- profile info -->
		 <div class="panel-heading" style="background-color: #337AB7">
		  <h3 class="panel-title"   >Profile Info </h3>
		 </div>
		 <div class="panel-body">
		   <h6><label style="font-size:20px">Name:  </label><%=  current_user.username%></h6>
		   <label style="font-size:20px">E-mail: </label>  <strong><%= current_user.email %></strong>
		 </div>
		</div> <!-- end profile info tag -->
	</div>
  </div> <!-- end of profile picture and info tag -->

  
   
  <div class="row" style="padding-top:40px"> 
    <div class="col-sm-4 col-md-3 sidebar" style="padding-left:40px"> <!-- side menu tag -->
    <div id='cssmenu'>
		<ul  style="border-right:1px solid grey;border-top-right-radius:8px;border-bottom-right-radius:8px">
		   <li style="padding-left:25px;padding:15px;background-color: #337AB7;border-top-left-radius:8px;border-top-right-radius:8px;color:white;"><span>Menu</span></li>
		   <li><a href='#'><span>Home</span></a></li>
		   <li class='active has-sub'><a href='#'><span>My Circles</span></a>
		      <ul>
		      		<% @circles.each do |c| %>
			 			<li class='has-sub'><%= link_to c.name, controller: "circles", action: "show", id: c.id %></li>
					<% end %>
		      </ul>
		   </li>
		   <li class='active has-sub'><a href='#'><span>Connect to circles</span></a> <!-- connect to Circles  -->
		      <ul>
			      		<li>

			      		<% if(@user.circles.exists?(:name => "twitter")&&Circle.exists?(:name => "googlePlus")) %>
			      		<a href="#"><span>No more circles to connect</span></a>

			      		<% else %>
				      		<div class="row" style="width:300px;margin-left: auto;margin-right: auto;">

				      			<% unless(@user.circles.exists?(:name => "twitter")) %>
						      		
									  <div class="col-lg-4">
									    <div class="round-button" style="width:110px;float:left">
									        <div id="round-button-circle">
									          <a href="/twitter_oauth_url" style="padding-top:50px;height:200px;">Twitter</a>
									        </div>
									    </div>
									  </div>
								<% end %>
								<% unless(@user.circles.exists?(:name => "googlePlus")) %>
									  <div class="col-lg-4">
									    <div class="round-button" style="width:110px;float:left;margin-left:40px">
									        <div id="round-button-circle-2">
									          <a href="http://localhost:4567" style="padding-top:50px;height:200px;" class="round-button">Google+</a>
									        </div>
									    </div>
									  </div>


								<% end %>
							</div>
						<% end %>

					    </li>

		      </ul>
		   </li> <!-- end of connecting to circles -->
		   <li class='active has-sub'><a href='#'><span>Update circles</span></a>
		      <ul>
			      		<li>
			      		<div class="row" style="width:300px;margin-left: auto;margin-right: auto;">
				      		<div class="col-lg-4">
								<div class="round-button" style="width:110px;float:left">
								    <div id="round-button-circle-1">
										    <a href="#" style="padding-top:50px;height:200px;" class="round-button">facebook</a>
									</div>
								</div>
							</div>
							<% if(@user.circles.exists?(:name => "twitter")) %>
									  <div class="col-lg-4">
									    <div class="round-button" style="width:110px;float:left;margin-left:40px">
									        <div id="round-button-circle">
									          <a href="/#" style="padding-top:50px;height:200px;" class="round-button">Twitter</a>
									        </div>
									    </div>
									  </div>
							<% end %>
							<% if(@user.circles.exists?(:name => "googlePlus")) %>
									  <div class="col-lg-4">
									    <div class="round-button" style="width:80px;float:left;">
									        <div id="round-button-circle-2">
									          <a href="#" class="round-button">Google+</a>
									        </div>
									    </div>
									  </div>
							<% end %>
						</div>
					    </li>
		      </ul>
		   </li>
		   


		   <li><%= link_to "New Request", controller: "requests", action: "new" %></li>
		   <li class='last' style="border-bottom:none;"><a href='#'><span>Contact</span></a></li>
		</ul>
</div>     
  </div> <!-- end of side menu tag -->


  <div class="col-md-8"> <!-- container search for an offered ride -->
    <div class= "panel panel-default" style="border-top-left-radius: 4px">
     <div class="panel-heading">
      <h3 class="panel-title"> Search for a trip</h3>
     </div>
      <div class="panel-body">
       <%= form_tag :controller => 'profiles', :action => 'myAccount', :method => 'get' do %>
		      <%= text_field_tag :search, params[:search], :id => 'search_field' %>
		      <%= submit_tag "Search", :name => nil %> 
		      <%= link_to_function "Clear", "$('search_field').clear()" %>
		<% end %> 
       <hr>
       <ul>
		  <% @requests.each do |grant| %>
			<h6 style="font-style:normal;font-size:15px">	<li><%= link_to grant.destination, 	:controller =>'requests',
		  	:action => 'show', id: grant.id  %></li></h6>
		  <% end %>
		</ul>
       
      </div>
    </div>
  </div> <!-- end of search for an offered ride -->

  <div class="col-md-8"> <!-- News feed container -->
    <div class= "panel panel-default" style="border-top-left-radius: 4px">
     <div class="panel-heading"> <!-- Container header -->
      <h3 class="panel-title"> News Feed</h3>
     </div> <!-- end of header -->
      <div class="panel-body">
      	<h6 style="font-style:normal;font-size:15px">What's going on</h6>
		<% if(@activities.present?) %> 
			<% @activities.each do |activity| %>
				<% if activity.owner.present? %>
					<hr>
				 	<%= link_to activity.owner.username if activity.owner %>
				 	<%= render_activity activity %>
			 	<%end%>
			<%end%>
		<% else %> 
			<h6 style="font-style:normal;font-size:12px">No news</h6>
		<% end %>
		

      </div>
    </div>
  </div>


</div>
  
</body>

</html>
