<!-- /app/views/users/new.html.erb -->

<!DOCTYPE html>
<html>
<head>
 

  <title></title>
  
</head>
<style type="text/css">
	body {
		
		
	}
</style>

<body >



</form>
<h1>Linkedin Application</h1>
<a href="/linkedin_oauth_url" class="btn btn-primary btn-larg">Connect to LinkedIn</a>

</div>

  <%= form_for @user do |f| %>  
<div>
  <% if @user.errors.any? %>  

    <div class="error_messages">  

      <h2>Form is invalid</h2>  

      <ul>  


        <% for message in @user.errors.full_messages %>  

          <li><%= message %></li>  
</div>
        <% end %>  

      </ul>  

    </div>  

  <% end %> 
  <div class="html">  

<div class="body">
<div class="form-style-10">
<h1>Sign Up Now!<span>Sign up and share your own articles!</span></h1>
<form>
    <div class="section"><span>1</span>First Name</div>
    <div class="inner-wrap">
        <label>First Name</label>
        <p>  

    <%= f.text_field :firstName %>  

  </p> 



        </div>


<div class="section"><span>2</span>Last name</div>
    <div class="inner-wrap">
        <label>Last name</label>
    
  <p>  


    <%= f.text_field :lastName %>  

  </p>  



    </div>


<div class="section"><span>2</span>Username</div>
    <div class="inner-wrap">
        <label>Username</label>
    
  <p>  


    <%= f.text_field :username %>  

  </p>  



    </div>
 <div class="section"><span>3</span>Passwords</div>
        <div class="inner-wrap">
        <label>Password</label>
         <p>  

    
    <%= f.password_field :password %>  <br>

  </p>  

        <label>Confirm Password </label>
 
<p>  

    
    <%= f.password_field :password_confirmation %> <br />  

  </p>  
  

    </div>
   
  


<!--  
  <p>  

    <%= f.label :avatar  %><br />  

    <%= f.file_field :avatar %> 

  </p>
-->
  <p class="button"><%= f.submit 'Join' %></p>  

<% end %>  



<script type="text/javascript" src="../../assets/js/libraries/jquery.js"></script>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="../../assets/js/libraries/gmap3.clusterer.js"></script>
<script type="text/javascript" src="../../assets/js/libraries/gmap3.infobox.js"></script>

<script type="text/javascript" src="../../assets/libraries/bxslider/jquery.bxslider.js"></script>
<script type="text/javascript" src="../../assets/libraries/chosen/chosen.jquery.min.js"></script>
<script type="text/javascript" src="../../assets/libraries/isotope/jquery.isotope.min.js"></script>
<script type="text/javascript" src="../../assets/libraries/rangeSlider/js/ion-rangeSlider/ion.rangeSlider.min.js"></script>

<script type="text/javascript" src="../../assets/libraries/flot/jquery.flot.js"></script>
<script type="text/javascript" src="../../assets/libraries/flot/jquery.flot.canvas.js"></script>
<script type="text/javascript" src="../../assets/libraries/flot/jquery.flot.resize.js"></script>
<script type="text/javascript" src="../../assets/libraries/flot/jquery.flot.time.js"></script>

<script type="text/javascript" src="../../assets/libraries/bootstrap/javascripts/bootstrap/carousel.js"></script>
<script type="text/javascript" src="../../assets/libraries/bootstrap/javascripts/bootstrap/collapse.js"></script>
<script type="text/javascript" src="../../assets/libraries/bootstrap/javascripts/bootstrap/dropdown.js"></script>
<script type="text/javascript" src="../../assets/libraries/bootstrap/javascripts/bootstrap/tab.js"></script>
<script type="text/javascript" src="../../assets/libraries/bootstrap/javascripts/bootstrap/transition.js"></script>

<script type="text/javascript" src="../../assets/js/map.js"></script>
<script type="text/javascript" src="../../assets/js/graph.js"></script>
<script type="text/javascript" src="../../assets/js/director.js"></script>

</body>
</html>

<!-- /app/views/users/new.html.erb -->

    
