


<div class="container">

    <div style= "position:absolute;padding-top:504px;float:center;right:500px;width:100%;padding-left:30%;">

        <div class="google-map-filter col-xs-12 col-sm-4  pull-right"  style="width:80%">
          <h1>ENTER LOCATION </h1><br>

              <div id="search_options" class="form-group">
                  <%= link_to "Geocding search", geocoding_path, remote: true, id: "geocoding"%>
                  <%= link_to "Reverse geocding search", reverse_geocoding_path, remote: true, id: "reverse_geocoding"%>
              </div> <!-- closing of search_options --> 
              <div id="map-container" class="form-group">
                  <div id="map-canvas" class="form-group"></div>
                  <div id="geocoding_fields" class="form-group">
                       <%= text_field_tag :search, params[:search], placeholder: "Enter a place", :id => 'search_box_geocoding', class: 'search_box' %>
                       <%= button_tag "Search", id: "submit_button_geocoding", data: { disable_with: "Please wait..." }, class: "submit_button" %> 
                  </div> <!-- closing of geocoding_fields --> 
                  <div id="reverse_geocoding_fields"class="form-group">
                       <%= text_field_tag :search, params[:search], placeholder: "Enter a point (latitude, longitude)", :id => 'search_box_reverse', class: 'search_box' %>
                       <%= button_tag "Search", id: "submit_button_reverse", data: { disable_with: "Please wait..." }, class: "submit_button" %>

                  </div> <!-- closing of reverse_geocoding_fields -->
<script>

// Method to be called when click on continue. 
function get_curr_location() {
    var loc = document.getElementById("search_box_geocoding").value;
    // Redirected to requests/update.

    window.location.replace('/requests/create_curr_location?latitude='+output2+'&longitude='+output+'&loc='+loc);
}
/*function getDistanceFromLatLonInKm(lat1,lon1,lat2,lon2) {
  var R = 6371; // Radius of the earth in km
  var dLat = deg2rad(lat2-lat1);  // deg2rad below
  var dLon = deg2rad(lon2-lon1); 
  var a = 
    Math.sin(dLat/2) * Math.sin(dLat/2) +
    Math.cos(deg2rad(lat1)) * Math.cos(deg2rad(lat2)) * 
    Math.sin(dLon/2) * Math.sin(dLon/2)
    ; 
  var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a)); 
  var d = R * c; // Distance in km
  return d;
}

function deg2rad(deg) {
  return deg * (Math.PI/180)
} */
</script> 
<a class="submit_button" href='#' onClick="get_curr_location();">
 Continue 
 </a>
            </div> <!-- closing of map-container --> 
        </div> <!-- closing of google-map-filter col-xs-12 col-sm-4  pull-right --> 
    </div> <!-- closing of style --> 
</div> <!-- closing of container --> 

     
  
