<p>
<% unless (@request.name==nil) %>	
  <strong>Trip name:</strong>
  <%= @request.name %>
<% end %>
<br>
<% unless (@request.air_conditioner==nil) %>
  <strong>AC:</strong>
  <%= @request.air_conditioner %>
<% end %>
<br>
<% unless (@request.car_model==nil) %>
  <strong>car model:</strong>
  <%= @request.car_model%>
<% end %>
<br>
<% unless (@request.destination==nil) %>
  <strong>To:</strong>
  <%= @request.destination %>
<% end %>

 </p>
 

 <%= form_tag :controller => 'trips', :action => 'create', :method => 'post',id: @request.id do %>


	      <button> join <%=@request.name %></button><!--/# Join the user to this Request -->. 
	      
	<% end %> 
