

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
<div>
  <% if @user.errors.any? %>  

    <div class="error_messages">  

      <h2>Form is invalid</h2>  

      <ul>  


        <% for message in @user.errors.full_messages %>  

          <li><%= message %></li>  
</div>
        <% end %>  

      </ul>  

    </div>  

  <% end %> 
  <div class="html">  

<div class="body">

<div class="form-style-10">

<h2>Sign in</h2>
<form>

<div class="section"><span>1</span>Email</div>
    <div class="inner-wrap">
        <label>Email</label>    
  <p>  
    <%= f.email_field :email %>
  </p>  
    </div>
 <div class="section"><span>2</span>Passwords</div>
        <div class="inner-wrap">
        <label>Password</label>
         <p>  
  			  <%= f.password_field :password %>  <br>

 		 </p>  
    </div>
	
  <p class="button"><%= f.submit 'Sign in' %></p>  

<% end %>  



<a href="/linkedin_oauth_url" class="btn btn-primary btn-larg">Connect to LinkedIn</a>

<%= render "devise/shared/links" %>
