<h1>Circles#show</h1>
<p>Find me in app/views/circles/show.html.erb</p>
<h3>your are in circle : </h3> Circle name :<%= @circle.name %><br>
<h4> Friends in the circle :- </h4><br>
		<% @circle.friends.each do |c| %>
			<%= c.name %><br> <!--/# name of a specific circle  -->
			<% if(@circle.name=='facebook') %>
				<% if User.exists?(:fb_email=> c.name)  %>
					<%= ' I am checking ' %>
					<%= link_to c.name, controller: "profiles", action: "show", id: c.id %> <br>
					<% next %>
				<% end %><!--/#  end of the if checking if the user has the circle in his/her connections  -->
			<% end %><!--/#  end of the if checking the circle name  -->
			<% if(@circle.name=='twitter') %>
				<% if  User.exists?(:screen_name => c.name) %>
					<%= ' I am checking ' %>
					<%= link_to c.name, controller: "profiles", action: "show", id: c.id %> <br>
					<% next %>
				<% end %><!--/#  end of the if checking if the user has the circle in his/her connections  -->
			<% end %><!--/#  end of the if checking the circle name  -->
			<% if(@circle.name=='gmail') %>
				<% if User.exists?(:gmail => c.name) %>
					<%= ' I am checking ' %>
					<%= link_to c.name, controller: "profiles", action: "show", id: c.id %> <br>
					<% next %>
				<% end %><!--/#  end of the if checking if the user has the circle in his/her connections  -->
			<% end %><!--/#  end of the if checking the circle name  -->
			
		<% end %><!--end of the loop -->
<!DOCTYPE html>
<html>

	<head>
		<title></title>
	</head>
	<link rel="stylesheet" type="text/css" href="assets/button.css">
	<link rel="stylesheet" href="assets/styles.css">

	<style type="text/css">
	 /*added Code */



	/*end of Added code */
	  
	         .cont {
	      display: block; width: 500px; max-height: 1000px; border:1px solid gray; border-radius: 20px; box-shadow: 0 1px 2px #888; }
	      .cont .header{
	      background-color: #337AB7; box-shadow: 0 1px 2px #888; padding-top: 10px; border-top-right-radius:20px; border-top-left-radius:20px; border-bottom: 1px solid gray; }
	      .cont .header h1{ padding-left: 10px; margin: 5px; font-size: 30px; font-weight: normal; text-shadow: 0 1px 2px white; color: white; text-align:left; }
	      .cont .body{ margin: 15px; padding-top: 0px; }
	      .cont .body label{ font-size: 18px; font-family: times; font-style: normal; }
	      .cont .body h1{ padding-left: 10px; margin: 5px; font-size: 16px; font-weight: normal; color: black; text-align:left; }
	      }

	</style>

	<body>
	 <div class="cont" style="width:90%">
	        <div class="header">
	          <h1 style="font-size:20px">Circle name : <%= @circle.name %></h1>
	        </div>
	          <div class="row">
	            <div class="col-md-3" style="padding-left:40px; width:50%">
	              <div id='TextBoxesGroup'>
	                <div id="TextBoxDiv1">
	                  <% @circle.friends.each do |c| %>
	                  	<% @user = User.find(c.app_id) %>
	                  	

	                  <% end%>
	                  <label style="font-size:20px"></label>
	                  	<% @name = @user.firstName+" "+@user.lastName %><%= link_to @name, :controller =>'profiles',:action => 'friend_profile', id: @user.id  %>
	                </div>
	              </div>
	            </div><!-- close div of col-dm-3 -->
	          </div><!-- div row -->
	      </div> <!-- closing of cont -->


	</body>
</html>
