<h1>Circles#show</h1>
<p>Find me in app/views/circles/show.html.erb</p>
<h3>your are in circle : </h3> Circle name :<%= @circle.name %><br>
<h4> Friends in the circle :- </h4><br>
		<% @circle.friends.each do |c| %>
			<%= c.name %><br>
			<% if(@circle.name=='facebook') %>
				<% if User.exists?(:fb_email=> c.name)  %>
					<%= ' I am checking ' %>
					<%= link_to c.name, controller: "profiles", action: "show", id: c.id %> <br>
					<% next %>
				<% end %>
			<% end %>
			<% if(@circle.name=='twitter') %>
				<% if  User.exists?(:screen_name => c.name) %>
					<%= ' I am checking ' %>
					<%= link_to c.name, controller: "profiles", action: "show", id: c.id %> <br>
					<% next %>
				<% end %>
			<% end %>
			<% if(@circle.name=='gmail') %>
				<% if User.exists?(:gmail => c.name) %>
					<%= ' I am checking ' %>
					<%= link_to c.name, controller: "profiles", action: "show", id: c.id %> <br>
					<% next %>
				<% end %>
			<% end %>
			
		<% end %>

